@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap');

:root{
font-size: 16px;
font-family:'Marvel','Roboto',sans-serif;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus, .google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.google-button__icon--plus {
  width: 27px;
}
.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}
html, body {
  height: 100%;
}
body {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
button ~ button {
  margin-left: 20px;
}
.github_icon{
    height: 2rem;
    width: 2rem;
    position: relative;
    top: -0.353rem;
}

.google_icon{
    height: 2rem;
    width: 2rem;
    position: relative;
    top: -0.353rem;
}

.facebook_icon{
    height: 2rem;
    width: 2rem;
    position: relative;
    top: -0.353rem;
    left: 0.7rem;
}
.google-button__text:hover{
  cursor: pointer;
}

.sign-out{
    position: absolute;
    left: 40rem;
    top:-19rem;
}

.SignIn{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.SignIn-btn{
  margin: 10px;
  outline: none;
}
.SignIn-btn:hover{
  cursor: pointer;
}
.fab{
  position: absolute;
  left: 5rem;
  top: 12rem;
}
